@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&display=swap');
html {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  background: #2e394d;
  position: relative;
}

.homebutton {
    right: 8%;
    width: 5rem;
    padding-top: 20px;
    padding-right: 20px;
    position: absolute;
    z-index: 2;}

.homebutton a {
    display: block;
    margin-bottom: 1em;
    padding: 0.3rem 1rem;
    border: 1px solid #c2c7cc;
    font-size: 1.1em;
    line-height: 1.667em;
    text-decoration: none;
    color: cadetblue;
    cursor: pointer;
    background: #fff;
    transition: color, border-color ease 0.3s;
    border-radius: 2em;
}
.homebutton a:hover {
    border-color: #ed9c32;
    color: #ed9c32;
    text-decoration: none;
}

.hamburger-container {
  display: none;
  background-color: cadetblue;
  width: 200px;
  height: 200px;
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: -115px;
  margin-left: -123px;
  z-index: 10;
}

.hamburger {
  display: none;
  width: 22px;
  position: absolute;
  left: 142px;
  border-top: 2px solid #fff;
  cursor: pointer;
  z-index: 1;
  top: 136px;
}
/*
.hamburger:after {
  visibility: hidden;
  content: "";
  display: block;
  border-top: 2px solid #fff;
  margin-top: 4px;
}
.hamburger:before {
visibility: hidden;
  content: "";
  display: block;
  border-top: 2px solid #fff;
  margin-top: 4px;
}
*/
.plus {
  display: none;
  width: 20px;
  position: absolute;
  border-top: 3px solid #fff;
  cursor: pointer;
  z-index: 1;
  left: 86px;
  top: 165px;
}

.menu {
  display: none;
  z-index: 2;
}

h1 {
  color: #ed9c32;
}
.projects {
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 2rem;
}

.project-pic {
  max-width: 50%;
  height: auto;
}

.projects-container {
  display:grid;
  grid-column: 1;
  grid-row: 4;
  text-align: center;
  width: 100%;
  padding: 1rem;
}
.projects-title {
  text-align: center;
  margin-bottom: 1rem;
  top: 50%;
}


.project-container p, a {
  color: #2e394d;
  padding: 0.4rem;
}

.project-container h3 {
  color: #ed9c32;
  padding: 0.4rem;
}


.project-details {
  top: 50%;
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 1rem;
  margin: 2rem 2rem 2rem 2rem;
  max-width: 60rem;
  height: auto;
  display: flex;
  justify-content: space-between;
}


.contact {
  margin-top: 2rem;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  padding-bottom: 8rem;
  border-radius: 5px;

}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: #ed9c32;
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px rgba(0, 0, 0, 0.4);
  font-size: 0.875rem;
  outline: none;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  background-color: #ed9c32;
  border: 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 10%;
  bottom: 50%;
}

.socicon {
  width: 2rem;
  height: 2rem;
}

.footer {
  position:absolute;
  bottom: 0;
  right: 3rem;
}

.footer p {
  font-size: 0.6rem;
}

@media screen and (min-width: 2560px) {
  html {
    font-size: 26px;
  }
  .projects h1 {
    font-size: 200%;
  }

  .projects h3 {
    font-size: 130%;
  }
  .projects p, a {
    font-size: 110%;
  }
  .homebutton {
    padding: 2rem;
  }
  .homebutton a {
    padding: 1rem;
    text-align: center;
  }

  .projects-container .project-card {
    margin-left: 14rem;
    text-align: center;
  }
  .contact {
    padding-top: 8rem;
    padding-right: 14rem;
  }
  .contact-form {
    min-width: 150%;
    min-height: 150%;
  }

  .contact h2 {
    font-size: 200%;
  }

  .homebutton {
    width: 10rem;
  }
  .socials {
    bottom: 40%;
  }
  .socicon {
    width: 3.5rem;
    height: 3.5rem;
  }

  .footer {
    bottom: -10%;
    right: 10rem;
  }

}

@media screen and (max-width: 480px){
  html {
    font-size: 12px;
  }

.projects-container {
  padding: 0;
}
  .project-card {
    display: block;
    margin: 1rem 1rem 1rem 1rem;
  }

  .homebutton {
    visibility: hidden;
  }

  .hamburger-container {
    display: block;
  }

  .hamburger-container a{
    color: white;
  }
  .hamburger {
    display: block;
  }

  .hamburger:after {
    content: "";
    display: block;
    border-top: 2px solid #fff;
    margin-top: 4px;
  }
  .hamburger:before {
    content: "";
    display: block;
    border-top: 2px solid #fff;
    margin-top: 4px;
  }

  .plus {
    display: block;
    width: 20px;
    position: absolute;
    border-top: 3px solid #fff;
    cursor: pointer;
    z-index: 1;
    left: 86px;
    top: 165px;
  }
  .plus:after {
    content: "";
    display: block;
    border-top: 3px solid #fff;
    margin-top: -3px;
    transform: rotate(90deg);
  }

  .page {
    position: relative;
    top: -100px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transform-origin: 0 0;
  }

  .hamburger-container.open {
    transform: rotate(-50deg);
  }

  .page.open {
    transform: rotate(-30deg);
  }
  .menu a{
    color: white;
  }

  .contact {
    max-width: 70%;
    padding: 11rem 7rem 11rem 5rem;
  }

  .socials {
    display: block;
    bottom: 30%;
    left: 50%;
  }
